html,
body {
    min-height: 100%;
}

body {
    background-color: #dedee0;
    font-family: "Open Sans", sans-serif;
}

.page {
    padding-top: 100px;
}

.page:nth-child(4n + 1) {
    background-color: #fff;
}

/* hr trick taken from http://stackoverflow.com/a/11889223/830988 */

hr {
    height: 0.5em;
    overflow: hidden;
    border: 0;
    margin: 0;
    font-size: 36px;
    line-height: 0;
}

hr:after {
    content: ".........................................................................................................";
    letter-spacing: 4px;
}

#home {
    background-color: #dedee0;
    padding-top: 0;
}

#main-nav {
    position: fixed;
    right: 10px;
    background-color: #dedee0;
    z-index: 1;
}

.nav-boxes > li {
    margin-bottom: 5px;
    text-align: center;
}

.nav-boxes > li > a {
	display: block;
	background-color: #333;
	padding: 3px;
    color: #fff;
}

.nav-boxes > .active-box > a {
	background-color: #fff;
	border: 3px solid #333;
	color: #333;
}

/* Arrow taken from http://css-tricks.com/snippets/css/css-triangle/ */
.arrow-down {
    display: block;
    width: 0;
	height: 0;
    padding: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #333;
    border-bottom: 0;
}

.scale-anim {
	-webkit-animation: scale 2s;
	-moz-animation: scale 2s;
	-o-animation: scale 2s;
	animation: scale 2s;
	-webkit-animation-delay: 3500ms;
	-moz-animation-delay: 3500ms;
	-o-animation-delay: 3500ms;
	animation-delay: 3500ms;
}

.fade-in-anim {
	-webkit-animation: fadeIn 7s;
	-moz-animation: fadeIn 7s;
	-o-animation: fadeIn 7s;
	animation: fadeIn 7s;
	opacity: 0.8;
}

@-webkit-keyframes scale {
	from {
		-webkit-transform: scale(1.5, 2.2);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes scale {
	from {
		-moz-transform: scale(1.5, 2.2);
	}
	to {
		-moz-transform: scale(1);
	}
}

@-o-keyframes scale {
	from {
		-o-transform: scale(1.5, 2.2);
	}
	to {
		-o-transform: scale(1);
	}
}

@keyframes scale {
	from {
		transform: scale(1.5, 2.2);
	}
	to {
		transform: scale(1);
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

h1 {
    display: inline-block;
}

h1 > small {
    display: block;
    margin-top: 3px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

#about p {
    font-size: 23px;
    text-transform: uppercase;
}

#contact a {
	margin-right: 20px;
}

#portfolio img {
	z-index: 2;
	position: relative;
}

#dynamo-sm > img {
    margin-bottom: 20px;
}

#freedom-beacon > img {
    margin-bottom: 19px;
}
