html,
body {
    min-height: 100%;
}

body {
    background-color: #dedee0;
    font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

a {
	color: #333;
}

a:hover {
	color: #333;
}

.page {
    padding-top: 100px;
	display: table;
	width: 100%;
	padding-bottom: 10px;
}

.page:nth-child(4n + 1) {
    background-color: #fff;
}

/* hr trick taken from http://stackoverflow.com/a/11889223/830988 */

hr {
    height: 0.5em;
    overflow: hidden;
    border: 0;
    margin: 0;
    font-size: 36px;
    line-height: 0;
}

hr:after {
    content: ".........................................................................................................";
    letter-spacing: 4px;
}

#home {
    background-color: #dedee0;
    padding-top: 0;
}

#main-nav {
    position: fixed;
    right: 10px;
    background-color: #dedee0;
	font-size: 14px;
    z-index: 1;
}

.nav-boxes > li {
    margin-bottom: 5px;
    text-align: center;
}

.nav-boxes > li > a {
	display: block;
	background-color: #333;
	padding: 3px;
    color: #fff;
}

.nav-boxes > .active-box > a {
	background-color: #fff;
	border: 3px solid #333;
	color: #333;
}

/* Arrow taken from http://css-tricks.com/snippets/css/css-triangle/ */
.arrow-down {
    display: block;
    width: 0;
	height: 0;
    padding: 0;
	border-left: 40px solid #dedee0;
	border-right: 40px solid #dedee0;
	border-top: 40px solid #333;
    border-bottom: 0;
}

.fade-in-anim {
	-webkit-animation: fadeIn 7s;
	-moz-animation: fadeIn 7s;
	-o-animation: fadeIn 7s;
	animation: fadeIn 7s;
	opacity: 0.8;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

h1 {
    display: inline-block;
}

h1 > small {
    display: block;
    margin-top: 3px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

#about p {
    font-size: 23px;
    text-transform: uppercase;
}

#contact a {
	margin-right: 15px;
}

#contact a:last-child {
	margin-right: 0;
}

#portfolio {
	display: block;
}

#portfolio-control-container {
	margin-left: 15px;
}

.portfolio-toggle {
	background-color: #333;
	width: 30px;
	height: 30px;
	border: 1px solid #333;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

.portfolio-toggle.checked {
	background-color: transparent;
}

#portfolio-desc-container {
	height: 100px;
}

#portfolio-desc-container > .portfolio-desc {
	display: none;
}

.portfolio-desc > .dl-horizontal > dt,
.portfolio-desc > .dl-horizontal > dd {
	margin-bottom: 0.1em;
}

.portfolio-desc > .dl-horizontal > dt {
	width: 2.1em;
	text-align: left;
}

.portfolio-desc > .dl-horizontal > dd {
	margin-left: 2.5em;
}

#portfolio-work-container {
	margin-top: 5px;
}

#portfolio-work-container,
#portfolio-work-container > .outer-inset-border,
#portfolio-work-container > .outer-inset-border > .inner-inset-border {
	height: 100%;
}

#portfolio-work-container > .outer-inset-border,
#portfolio-work-container > .outer-inset-border > .inner-inset-border {
	border-style: solid;
}

#portfolio-work-container > .outer-inset-border {
	border-width: 3px 0 0 3px;
	border-color: #777;
}

#portfolio-work-container > .outer-inset-border > .inner-inset-border {
	padding: 20px 25px;
	border-width: 6px 0 0 6px;
	border-color: #333;
	margin: 0 -15px;
}

.portfolio-work {
	display: none;
}

.portfolio-work img {
	z-index: 2;
	position: relative;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(75, 75, 75, 0.75);
	-moz-box-shadow:    5px 5px 5px 0px rgba(88, 88, 88, 0.75);
	box-shadow:         5px 5px 5px 0px rgba(75, 75, 75, 0.75);
}

.stacked-img {
	margin-bottom: 16.5px;
}

#fb-right {
	padding-top: 25%;
}
